
.question-content
  .content-top
    .filter
      .filter-class
        label(for='class') Lọc câu hỏi theo lớp:
        select#class(name='class')
          option(value='1') Lớp 1
          option(value='2') Lớp 2
          option(value='3') Lớp 3
          option(value='4') Lớp 4
          option(value='5') Lớp 5
          option(value='6') Lớp 6
          option(value='7') Lớp 7
          option(value='8') Lớp 8
          option(value='9') Lớp 9
          option(value='10') Lớp 10
          option(value='11') Lớp 12
          option(value='12') Lớp 12
        lable(for="status") Trạng thái: 
        select#class(name='status')
          option(value='1') Tất cả
          option(value='2') Đã trả lời
          option(value='3') Chưa trả lời
          option(value='4') Lần đầu hỏi
      button( data-toggle="modal" data-target="#create-question").create-question
        span Tạo câu hỏi
    .care-most
      p.title Những câu hỏi được quan tâm nhất
      ul.list-questions
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
  .content-bottom
    .new-question
      p.title Câu hỏi mới nhất
      ul.list-questions
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
        li.item-q
          .card
            .card-body
              .row
                .col-2 
                  .profile
                    img(src="./images/question/avatar1.png", alt="")
                    p.point 100 điểm
                    p.name Nguyễn Trần Hùng
                .col-8
                  .heading
                    p Ngữ Văn
                    p Lớp 12
                    span 2 tháng trước
                  .noidung-cauhoi
                      p Trình bày cảm nhận của con về bài ca dao sau bằng 1đoạn văn khoảng 8 câu
                      p Anh em nào phải người xa
                      p Cùng chung bác mẹ,một nhà cùng thân
                      p ....
                .col-2.d-flex.align-items-end
                  button( data-toggle="modal" data-target="#answer-question") Trả lời
    a(href="#" )#loadmore Xem thêm
include ../../components/modal-question.pug
include ../../components/modal-answer.pug
