#v-pills-tab.nav.nav-pills(role='tablist' aria-orientation='vertical').nav-question
  a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-all' role='tab' aria-controls='v-pills-all' aria-selected='true') Tất cả
  a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Toán
  a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Lý
  a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-hoa' role='tab' aria-controls='v-pills-hoa' aria-selected='false') Hóa
