.top-user
    .user-title
        p Top Thành Viên Nhiều Điểm Nhất
    ul.list-users
        li.user
            .infor
                img(src="../../images/question/avatar.png", alt="")
                a(href="#") Nguyễn Hà Linh
            .point
                p 6666 điểm
        li.user
            .infor
                img(src="../../images/question/avatar1.png", alt="")
                a(href="#") Trần Hoàng Anh
            .point
                p 6666 điểm
        li.user
            .infor
                img(src="../../images/question/avatar.png", alt="")
                a(href="#") Nguyễn Hà Linh
            .point
                p 6666 điểm
        li.user
            .infor
                img(src="../../images/question/avatar.png", alt="")
                a(href="#") Nguyễn Hà Linh
            .point
                p 6666 điểm
        li.user
            .infor
                img(src="../../images/question/avatar.png", alt="")
                a(href="#") Nguyễn Hà Linh
            .point
                p 6666 điểm
    img.advertise__img(src="../images/components/adv.png", alt="adv")