@import './../common/common.scss';
html {
    font-family: 'Livvic', sans-serif;
    background-color: #E5E5E5 !important;
}

a {
    &:hover {
        text-decoration: none;
    }
}

input,
button {
    &:focus {
        outline: none;
    }
}

button {
    border: none;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

.back__grey {
    background-color: #E5E5E5 !important;
}

.p-20 {
    padding-top: 20px;
}

.back-white {
    background-color: #ffffff !important;
}

.bt__grey {
    border-top: 3px solid #E5E5E5;
}

.w-90 {
    width: 90%;
    @include max-breakpoint(991) {
        width: 100%;
    }
}

.full-screen-mobile {
    @include max-breakpoint(991) {
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;
    }
}

.p-mb-0 {
    @include max-breakpoint(575) {
        padding: 0;
    }
}

.w-85 {
    width: 85% !important;
}

.br {
    border-right: 2px solid #E5E5E5;
}

.bg-blue-mobile {
    @include max-breakpoint(575) {
        background-color: #1972C5 !important;
    }
}

.bg-white-mobile {
    @include max-breakpoint(991) {
        background-color: #fff !important;
    }
}

.pd-0 {
    @include max-breakpoint(575) {
        padding: 0;
    }
}