html {
    font-family: 'Livvic', sans-serif;
    background-color: #E5E5E5 !important;
}

a {
    &:hover {
        text-decoration: none;
    }
}

input,
button {
    &:focus {
        outline: none;
    }
}

button {
    border: none;
}

.back__grey {
    background-color: #E5E5E5 !important;
}

.p-20 {
    padding-top: 20px;
    ;
}

.bt__grey {
    border-top: 3px solid #E5E5E5;
}

.container-fluid {
    width: 80% !important;
}