.seemore-lesson
  h6 các bài khác cùng chuyên mục
  ul
      li
          div
              img(src="./images/icons/icon-arrow.svg", alt="")
              a(href="") Kể chuyện cậu bé thông minh
      li
          div
              img(src="./images/icons/icon-arrow.svg", alt="")
              a(href="") tập đọc hai bàn tay em
      li
          div
              img(src="./images/icons/icon-arrow.svg", alt="")
              a(href="") Luyện từ và câu. Ôn tập về từ chỉ sự vật. So sánh.
      li
          div
              img(src="./images/icons/icon-arrow.svg", alt="")
              a(href="") Chính tả (Nghe - viết). Chơi chuyền.
.refer 
  h4 Tham khảo các môn học khác Lớp 1-2-3

.more-subject
  .row
    .col-4
      .item-more-subject Toán học
    .col-4
      .item-more-subject Tự nhiên-Xã hội
    .col-4
      .item-more-subject Tin học
      
        