.content-submenu2
    h4 Tập đọc. Cậu bé thông minh
    ul.list-question
        li
            div
                p.question
                    span Câu 1 
                    |    (trang 5 sgk Tiếng Việt 3 tập 1):
                    span  Nhà vua nghĩ ra kế gì để tìm người tài?
                p.answer 
                    span Lời giải
                p Để tìm người tài, nhà vua hạ lệnh cho mỗi làng trong vùng phải nộp một con gà trống biết đẻ trứng, nếu không có cả làng sẽ phải chịu tội.
        li
            div
                p.question
                    span Câu 1 
                    |    (trang 5 sgk Tiếng Việt 3 tập 1):
                    span  Nhà vua nghĩ ra kế gì để tìm người tài?
                p.answer 
                    span Lời giải
                p Để tìm người tài, nhà vua hạ lệnh cho mỗi làng trong vùng phải nộp một con gà trống biết đẻ trứng, nếu không có cả làng sẽ phải chịu tội.
        li
            div
                p.question
                    span Câu 1 
                    |    (trang 5 sgk Tiếng Việt 3 tập 1):
                    span  Nhà vua nghĩ ra kế gì để tìm người tài?
                p.answer 
                    span Lời giải
                p Để tìm người tài, nhà vua hạ lệnh cho mỗi làng trong vùng phải nộp một con gà trống biết đẻ trứng, nếu không có cả làng sẽ phải chịu tội.
    
    .view   
        div
            img(src="../../images/icons/icon-eye.svg", alt="")
            p Lượt xem
                span 330
        div
            img(src="../../images/icons/like.svg", alt="")
            p Thích
                span 33
        div.share     
            p Chia sẻ
            img(src="../../images/icons/icon-facebook.svg", alt="")
        