.category-page.back__grey
    .container-fluid.w-90.back__grey
        .row
            .col-2.bg-white
                .category-left
                    h3 Giải Tiếng Việt lớp 3
                    .dropdown
                        .dropdown-title
                            img(src="./../../images/icons/icon-arow-right.svg", alt="")
                            h4 Tiếng Việt lớp 3 tập 1
                    .dropdown
                        .dropdown-title
                            img(src="./../../images/icons/icon-arow-right.svg", alt="")
                            h4 Tiếng Việt lớp 3 tập 1
            .col-7.bg-white.border-category
                 .category-centter
                    .breadcrumb-category
                        nav
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a(href='#') Lớp 1-2-3
                                li.breadcrumb-item.active(aria-current='page') Giải Tiếng việt lớp 3
                    .category-centter-content
                        .row
                            .col-6
                                h4.title-book Tiếng Việt lớp 3 tập 1
                                .secction-book
                                    h5 Măng non - Tuần 1
                                    ul.list-lesson
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                .secction-book
                                    h5 Măng non - Tuần 2
                                    ul.list-lesson
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                            .col-6
                                h4.title-book Tiếng Việt lớp 3 tập 1
                                .secction-book
                                    h5 Măng non - Tuần 2
                                    ul.list-lesson
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                .secction-book
                                    h5 Măng non - Tuần 2
                                    ul.list-lesson
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                                        li
                                            div
                                                img(src="./../../images/icons/icon-book-small2.svg", alt="")
                                                h6 
                                                    i Tập đọc: cậu bé thông minh
                        

                        
            .col-3.pl-0.bg-white
                .category-right
                    h4 Các bài giảng Ngữ văn được xem nhiều nhất
                    ul.list-category-right
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                    h4 Các bài giảng Ngữ văn được xem nhiều nhất
                    ul.list-category-right
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./../../images/icons/icon-small-book.svg", alt="")
                                h5 Tập đọc.Trận bóng dưới lòng đường
                img.advertise__img(src="../images/components/adv.png", alt="adv")
