.category-centter-content.content-main
    .row
        .col-6
            h4.title-book 
                a(href="") Tiếng Việt lớp 3 tập 1
            .secction-book
                h5 Măng non - Tuần 1
                ul.list-lesson
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
            .secction-book
                h5 Măng non - Tuần 2
                ul.list-lesson
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
        .col-6
            h4.title-book 
                a(href="") Tiếng Việt lớp 3 tập 1
            .secction-book
                h5 Măng non - Tuần 2
                ul.list-lesson
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
            .secction-book
                h5 Măng non - Tuần 2
                ul.list-lesson
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./../../images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i Tập đọc: cậu bé thông minh