//- #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical').nav-question
//-     a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-all' role='tab' aria-controls='v-pills-all' aria-selected='true') Tất cả
//-     a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Toán
//-     a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Lý
//-     a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-hoa' role='tab' aria-controls='v-pills-hoa' aria-selected='false') Kim
.category-left
    h3 Giải Tiếng Việt lớp 3
    .dropdown#v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
        .dropdown-title
            img(src="./../../images/icons/icon-arow-right.svg", alt="")
            h4#v-pills-home-tab.active(data-toggle='pill' href='#v-pills-all' role='tab' aria-controls='v-pills-all' aria-selected='true') Tiếng Việt lớp 3 tập 1
        .sub-menu
            .dropdown-title
                img(src="./../../images/icons/icon-arrow-small.svg", alt="")
                h4#v-pills-profile-tab(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Tiếng Việt lớp 3 tập 1
            .sub-menu-2
                .dropdown-title
                    img(src="./../../images/icons/icon-book-small2.svg", alt="")
                    h4#v-pills-messages-tab(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tiếng Việt lớp 3 tập 1
            .dropdown-title
                img(src="./../../images/icons/icon-arrow-small.svg", alt="")
                h4 Tiếng Việt lớp 3 tập 1
            
    .dropdown
        .dropdown-title
            img(src="./../../images/icons/icon-arow-right.svg", alt="")
            h4#v-pills-profile-tab(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Tiếng Việt lớp 3 tập 1