.content-submenu
    h4 Măng Non -Tuần 1
    ul.list-lesson
        li
            div 
                a#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') tập đọc: Cậu bé thông minh : 
                span Nhà vua nghĩ ra kế gì để tìm người tài
        li
            div 
                a#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') tập đọc: Cậu bé thông minh : 
                span Nhà vua nghĩ ra kế gì để tìm người tài
        li
            div 
                a#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') tập đọc: Cậu bé thông minh : 
                span Nhà vua nghĩ ra kế gì để tìm người tài
    .panagation
        button.btn.btn-pre 
            img(src="../../images/icons/icon-arrow-pre.svg", alt="") 
            |Trang trước
        button.btn.btn-next 
            |Trang sau
            img(src="../../images/icons/icon-arrow-next.svg", alt="")
    .seemore-lesson
        h6 Xem thêm các bài khác
        ul
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
    .seemore-lesson
        h6 Xem thêm các bài khác
        ul
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2
            li
                div
                    img(src="../../images/icons/icon-smallbook-blue.svg", alt="")
                    a Măng non - Tuần 2