.category-centter-content.content-main
    .row
        .col-6
            h4.title-book 
                a(href="") Tiếng Việt lớp 3 tập 1
            .secction-book
                h5#v-pills-profile-tab.tab-item(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Măng non - Tuần 1
                ul.list-lesson
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
            .secction-book
                h5#v-pills-profile-tab.tab-item(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Măng non - Tuần 1
                ul.list-lesson
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
            
        .col-6
            h4.title-book 
                a(href="") Tiếng Việt lớp 3 tập 1
            .secction-book
                h5#v-pills-profile-tab.tab-item(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Măng non - Tuần 1
                ul.list-lesson
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
            .secction-book
                .secction-book
                h5#v-pills-profile-tab.tab-item(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Măng non - Tuần 1
                ul.list-lesson
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
                    li
                        div
                            img(src="./images/icons/icon-book-small2.svg", alt="")
                            h6 
                                i#v-pills-messages-tab.tab-item(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Tập đọc: cậu bé thông minh
    .seemore-lesson
        h6 Tham khảo loạt bài Tiếng Việt lớp 3 khác hay nhất
        ul
            li
                div
                    img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                    a(href="#") Măng non - Tuần 2
            li
                div
                    img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                    a(href="#") Măng non - Tuần 2
            li
                div
                    img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                    a(href="#") Măng non - Tuần 2
            li
                div
                    img(src="./images/icons/icon-smallbook-blue.svg", alt="")
                    a(href="#") Măng non - Tuần 2        