.category-page.back__grey
    .container-fluid.w-95.back__grey
        .row
            .col-2.p-0.bg-white
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical').nav-question
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-all' role='tab' aria-controls='v-pills-all' aria-selected='true') Tất cả
                    a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Toán
                    a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Lý
                    a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-hoa' role='tab' aria-controls='v-pills-hoa' aria-selected='false') Hóa
            .col-7.bg-white.border-category
                .category-centter
                     #v-pills-tabContent.tab-content
                        #v-pills-all.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab') 1
                        #v-pills-toan.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab') 2
                        #v-pills-ly.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab') 3
                        #v-pills-hoa.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab') 4






            .col-3.pl-0.bg-white
                .category-right
                    h4 Các bài giảng Ngữ văn được xem nhiều nhất
                    ul.list-category-right
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                    h4 Các bài giảng Ngữ văn được xem nhiều nhất
                    ul.list-category-right
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                        li 
                            .d-flex
                                img(src="./images/icons/icon-small-book.svg", alt="")
                                a(href="") Tập đọc.Trận bóng dưới lòng đường
                img.advertise__img(src="../images/components/adv.png", alt="adv")
