@import './../common/common.scss';
.advertise-mobile {
    @include max-breakpoint(991) {
        margin: 0 -15px;
    }
    .advertise__img {
        width: 100vw;
        height: 60px;
        @include min-breakpoint(768) {
            height: 150px;
        }
    }
}