.about.back__grey
  .row
    .col-md-6.col-12
      .about-item
        .about-item-tittle
            h5.question Hỏi đáp
        .about-item-content
          .row.align-items-center
            .col-3
              img.w-100(src='./../../images/home/home-about.png' alt='')
            .col-9.pl-0
              ul.list-detail
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính rình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
              a.see-more(href='#') Xem thêm
    .col-md-6.col-12
      .about-item
        .about-item-tittle.literature
            h5.literature Văn mẫu
        .about-item-content
          .row.align-items-center
            .col-3
              img.w-100(src='./../../images/home/home-about.png' alt='')
            .col-9.pl-0
              ul.list-detail
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div.d-flex.align-items-center
                    span 33
                    img(src='./../../images/icons/icon-eye.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính rình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh chất của một cuộc cách mạng tư sản?
                  div.d-flex.align-items-center
                    span 33
                    img(src='./../../images/icons/icon-eye.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div.d-flex.align-items-center
                    span 33
                    img(src='./../../images/icons/icon-eye.svg' alt='')
              a.see-more(href='#') Xem thêm
    .col-md-6.col-12
      .about-item
        .about-item-tittle.exam
            h5.exam Đề thi mới nhất
        .about-item-content
          .row.align-items-center
            .col-3
              img.w-100(src='./../../images/home/home-about.png' alt='')
            .col-9.pl-0
              ul.list-detail
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính rình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
              a.see-more(href='#') Xem thêm
    .col-md-6.col-12
      .about-item
        .about-item-tittle.you-know
            h5.you-know Bạn có biết
        .about-item-content
          .row.align-items-center
            .col-3
              img.w-100(src='./../../images/home/home-about.png' alt='')
            .col-9.pl-0
              ul.list-detail
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div.d-flex.align-items-center
                    span 33
                    img(src='./../../images/icons/icon-eye.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính rình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh chất của một cuộc cách mạng tư sản?
                  div.d-flex.align-items-center
                    span 33
                    img(src='./../../images/icons/icon-eye.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div.d-flex.align-items-center
                    span 33
                    img(src='./../../images/icons/icon-eye.svg' alt='')
              a.see-more(href='#') Xem thêm
    .col-md-6.col-12
      .about-item
        .about-item-tittle.news
            h5.news Tin tức
        .about-item-content
          .row.align-items-center
            .col-3
              img.w-100(src='./../../images/home/home-about.png' alt='')
            .col-9.pl-0
              ul.list-detail
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính rình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
              a.see-more(href='#') Xem thêm
    .col-md-6.col-12
      .about-item
        .about-item-tittle.rank
            h5.rank Bảng xếp hạng
        .about-item-content-rank
            ul.list-rank
                li.row
                    .rank-avatar
                        img(src="./../../images/home/home-about.png", alt="")
                    h5.rank-name.col-5.p-0 Nguyễn Hà Linh
                    p.rank-point.col-4.pl-4 6666 điểm
                li.row
                    .rank-avatar
                        img(src="./../../images/home/home-about.png", alt="")
                    h5.rank-name.col-5.p-0 Trần hoàng anh
                    p.rank-point.col-4.pl-4 6666 điểm
                li.row
                    .rank-avatar
                        img(src="./../../images/home/home-about.png", alt="")
                    h5.rank-name.col-5.p-0 Ông chủ KIm
                    p.rank-point.col-4.pl-4 6666 điểm
            a.see-more(href='#') Xem thêm

            
        
          
        
    
        