.about.back__grey
  .row
    .col-6
      .about-item
        .about-item-tittle
            h5 Hỏi đáp
        .about-item-content
          .row.align-items-center
            .col-3
              img.w-100(src='./../../images/home/home-about.png' alt='')
            .col-9.pl-0
              ul.list-hoidap
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
                li
                  p
                    | Trình bày nội dung cuộc Duy tân Minh Trị? Tại sao nói cuộc Duy tân Minh trị mang tính chất của một cuộc cách mạng tư sản?
                  div
                    a(href='#') Lịch sử 12
                    |  |     
                    span 33
                    img(src='./../../images/icons/icon-comment.svg' alt='')
              a.see-more(href='#') Xem thêm
    .col-6