
.banner.back__grey.full-screen-mobile
    .owl-carousel.owl-theme.owl-banner
        .item
            img.mw-100(src="./../../images/home/banner.jpg", alt="")

        .item
            img.mw-100(src="./../../images/home/banner.jpg", alt="")

        .item
            img.mw-100(src="./../../images/home/banner.jpg", alt="")
