#v-pills-tabContent.tab-content.d-none.d-sm-block
  #lop1-2-3.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-lop123-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 1-2-3
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop4.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop4-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 4
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop5.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop5-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 5
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop6.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop6-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 6
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop7.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop7-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 7
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop8.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop8-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 8
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop9.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop9-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 9
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop10.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop10-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 10
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop11.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop11-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 11
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
  #lop12.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop12-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 12
      .subjects
        .row
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Đề thi Kiểm tra Tiếng việt
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Toán học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1
          .col-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 Tự nhiên-xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                h5 Tiếng việt 1



        
      
