#v-pills-tabContent.tab-content.full-screen-mobile.bg-white-mobile
  #lop1-2-3.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-lop123-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 1-2-3
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop4.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop4-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 4
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop5.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop5-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 5
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop6.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop6-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 6
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop7.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop7-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 7
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop8.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop8-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 8
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop9.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop9-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 9
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop10.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop10-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 10
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop11.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop11-tab') 
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 11
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
  #lop12.tab-pane.fade(role='tabpanel' aria-labelledby='v-lop12-tab')
    .category.bg-white
      h3.title-category.text-center
        |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 12
      .subjects
        .row
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") ngữ văn
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tập làm văn lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Đề thi Kiểm tra Tiếng việt
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Toán học 
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Đạo đức
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt lớp 2
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tin học
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Văn mẫu lớp 3
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1
          .col-6.col-sm-4.subjects-item
            .title-subject
              img(src='./images/icons/icon-book.svg' alt='')
              h4 
                a(href="class.html") Tự nhiên - Xã hội
            ul.list-book
              li.item-book
                img(src='./images/icons/icon-arrow.svg' alt='')
                a(href="./category.html") Tiếng việt 1



        
      
