.category.bg-white
  h3.title-category.text-center
    |GIẢI BÀI TẬP SÁCH GIÁO KHOA,SÁCH BÀI TẬP LỚN LỚP 1-2-3
  .subjects
    .row
      .col-4.subjects-item
        .title-subject
          img(src='./../../images/icons/icon-book.svg' alt='')
          h4 ngữ văn
        ul.list-book
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 tiếng việt 1
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt lớp 2
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Văn mẫu lớp 3
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tập làm văn lớp 3
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Đề thi Kiểm tra Tiếng việt
      .col-4.subjects-item
        .title-subject
          img(src='./../../images/icons/icon-book.svg' alt='')
          h4 Toán học
        ul.list-book
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt lớp 2
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Văn mẫu lớp 3
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
      .col-4.subjects-item
        .title-subject
          img(src='./../../images/icons/icon-book.svg' alt='')
          h4 Đạo đức
        ul.list-book
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt lớp 2
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Văn mẫu lớp 3
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
      .col-4.subjects-item
        .title-subject
          img(src='./../../images/icons/icon-book.svg' alt='')
          h4 Tin học
        ul.list-book
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Văn mẫu lớp 3
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
      .col-4.subjects-item
        .title-subject
          img(src='./../../images/icons/icon-book.svg' alt='')
          h4 Tự nhiên-xã hội
        ul.list-book
          li.item-book
            img(src='./../../images/icons/icon-arrow.svg' alt='')
            h5 Tiếng việt 1
        
      
