.comment.bg-white.full-screen-mobile
    h3 Học sinh, giáo viên nói gì về TOPLOIGIAI
    .owl-comment
        .owl-carousel.owl-theme.comment-carousel
            .comment-item
                .comment-item-top
                    img.avatar-comment(src='./images/home/person1.png' alt='')
                    div
                        h4 Nguyễn Hà Linh
                        h5 Giáo viên cấp 2
                .comment-item-bottom
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.
            .comment-item
                .comment-item-top
                    img.avatar-comment(src='./images/home/person1.png' alt='')
                    div
                        h4 Nguyễn Hà Linh
                        h5 Giáo viên cấp 2
                .comment-item-bottom
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.
            .comment-item
                .comment-item-top
                    img.avatar-comment(src='./images/home/person1.png' alt='')
                    div
                        h4 Nguyễn Hà Linh
                        h5 Giáo viên cấp 2
                .comment-item-bottom
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.
            .comment-item
                .comment-item-top
                    img.avatar-comment(src='./images/home/person1.png' alt='')
                    div
                        h4 Nguyễn Hà Linh
                        h5 Giáo viên cấp 2
                .comment-item-bottom
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.
                
