.hot__news.bg-white.full-screen-mobile.bg-white-mobile
        h3.title-category.text-center TIN TỨC NỔI BẬT
        .carousel-hot-news
          .owl-carousel.owl-theme.owl-hot-news
            .hot-news-item
              .hot-news-item-top
                img(src='./../../images/home/hot-news.png' alt='')
              .hot-news-item-bottom
                p
                  | Vì sao nước lại không cháy
            .hot-news-item
              .hot-news-item-top
                img(src='./../../images/home/hot-news.png' alt='')
              .hot-news-item-bottom
                p
                  | Vì sao nước lại không cháy
            .hot-news-item
              .hot-news-item-top
                img(src='./../../images/home/hot-news.png' alt='')
              .hot-news-item-bottom
                p
                  | Vì sao nước lại không cháy
            .hot-news-item
              .hot-news-item-top
                img(src='./../../images/home/hot-news.png' alt='')
              .hot-news-item-bottom
                p
                  | Vì sao nước lại không cháy

            
         
