.hot__news.bg-light
        h3.title-category.text-center TIN TỨC NỔI BẬT
        .owl-carousel.owl-theme
                .item
                h4 1
                .item
                h4 2
                .item
                h4 3
                .item
                h4 4
                .item
                h4 5
         
