//- #v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical').nav-question
//-     a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#v-pills-all' role='tab' aria-controls='v-pills-all' aria-selected='true') Tất cả
//-     a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#v-pills-toan' role='tab' aria-controls='v-pills-toan' aria-selected='false') Toán
//-     a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#v-pills-ly' role='tab' aria-controls='v-pills-ly' aria-selected='false') Lý
//-     a#v-pills-settings-tab.nav-link(data-toggle='pill' href='#v-pills-hoa' role='tab' aria-controls='v-pills-hoa' aria-selected='false') Kim
.class-select.full-screen-mobile.bg-blue-mobile
        h3.title-category.text-center.text-white CHỌN LỚP HỌC CỦA BẠN
        .list-class.row.row-cols-md-5#v-pills-tab.nav.nav-pills.d-none.d-md-flex(role='tablist' aria-orientation='vertical')
                a#v-pills-home-tab.nav-link.active(data-toggle='pill' href='#lop1-2-3' role='tab' aria-controls='lop1-2-3' aria-selected='true').class-item.col-md.col-4
                        .border.active Lớp 1-2-3
                a#v-pills-profile-tab.nav-link(data-toggle='pill' href='#lop4' role='tab' aria-controls='lop4' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 4
                a#v-pills-messages-tab.nav-link(data-toggle='pill' href='#lop5' role='tab' aria-controls='lop5' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 5
                a#v-lop6-tab.nav-link(data-toggle='pill' href='#lop6' role='tab' aria-controls='lop6' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 6
                a#v-lop7-tab.nav-link(data-toggle='pill' href='#lop7' role='tab' aria-controls='lop7' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 7
                a#v-lop8-tab.nav-link(data-toggle='pill' href='#lop8' role='tab' aria-controls='lop8' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 8
                a#v-lop9-tab.nav-link(data-toggle='pill' href='#lop9' role='tab' aria-controls='lop9' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 9
                a#v-lop10-tab.nav-link(data-toggle='pill' href='#lop10' role='tab' aria-controls='lop10' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 10
                a#v-lop11-tab.nav-link(data-toggle='pill' href='#lop11' role='tab' aria-controls='lop11' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 11
                a#v-lop12-tab.nav-link(data-toggle='pill' href='#lop12' role='tab' aria-controls='lop12' aria-selected='false').class-item.col-md.col-4
                        .border Lớp 12
        .list-class.row.row-cols-md-5.d-md-none
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 1-2-3
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 4
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 5
                a.nav-link.class-item.col-md.col-4(href="class.html")
                        .border.active Lớp 6
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 7
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 8
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 9
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 10
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 11
                a.nav-link.class-item.col-md.col-4(href="class.html") 
                        .border.active Lớp 12
                




                


