.class-select
        h3.title-category.text-center.text-white CHỌN LỚP HỌC CỦA BẠN
        .list-class.row.row-cols-5
                .class-item.col 
                        .border.active Lớp 1-2-3
                .class-item.col 
                        .border Lớp 4
                .class-item.col 
                        .border Lớp 5
                .class-item.col 
                        .border Lớp 6
                .class-item.col 
                        .border Lớp 7
                .class-item.col 
                        .border Lớp 8
                .class-item.col
                        .border Lớp 9
                .class-item.col 
                        .border Lớp 10
                .class-item.col 
                        .border Lớp 11
                .class-item.col 
                        .border Lớp 12



                


