@import './../../common/common.scss';
.banner {
    .owl-banner {
        .owl-dots {
            position: absolute;
            left: 50%;
            bottom: 40px;
            transform: translateX(-50%);
            .owl-dot {
                &.active {
                    span {
                        background-color: #fff;
                    }
                }
                span {
                    width: 20px;
                    height: 20px;
                    @include max-breakpoint(1200) {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
    }
}