@import './../../common/common.scss';
.page-home {
    .tab-content {
        &.active {
            display: block !important;
        }
        @include max-breakpoint(575) {
            display: none;
        }
    }
}

.category {
    padding-top: 70px;
    @include max-breakpoint(575) {
        padding-top: 40px;
    }
    h3 {
        margin-bottom: 70px;
        @include max-breakpoint(575) {
            margin-bottom: 40px;
        }
    }
    .subjects {
        padding: 0 25px;
        @include max-breakpoint(425) {
            padding: 0 15px;
        }
        @include max-breakpoint(575) {
            .subjects-item:nth-child(even) {
                text-align: right;
            }
        }
        .subjects-item {
            margin-bottom: 40px;
            .title-subject {
                display: inline-flex;
                align-items: flex-end;
                position: relative;
                margin-bottom: 30px;
                @include max-breakpoint(575) {
                    align-items: center;
                    display: inline-flex;
                }
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background: #E29000;
                    border-radius: 2.5px;
                    width: 100%;
                    @include max-breakpoint(575) {
                        height: 1px;
                        width: 100%;
                    }
                }
                img {
                    display: block;
                    margin-right: 20px;
                    @include max-breakpoint(425) {
                        width: 15px;
                        margin-right: 10px;
                    }
                }
                h4 {
                    a {
                        color: #E29000;
                        font-size: 20px;
                        text-transform: capitalize;
                        font-weight: 500;
                        @include max-breakpoint(575) {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
            ul.list-book {
                @include max-breakpoint(575) {
                    display: none;
                }
                li {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        display: block;
                        margin-right: 5px;
                    }
                    a {
                        font-size: 18px;
                        color: #000;
                        font-weight: 500;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        // .subjects-item:nth-child(0n+3) {
        //     text-align: right;
        //     ul.list-book {
        //         display: inline-block;
        //     }
        // }
    }
}