@import './../../common/common.scss';
.comment {
    padding-top: 80px;
    padding-bottom: 45px;
    @include max-breakpoint(425) {
        padding-top: 40px;
    }
    h3 {
        margin-bottom: 70px;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        @include max-breakpoint(425) {
            font-size: 15px;
            margin-bottom: 40px;
        }
    }
    .owl-comment {
        padding: 0 80px;
        @include max-breakpoint(1199) {
            padding: 0 0px;
        }
        .comment-item {
            padding: 25px;
            border: 0.5px solid #A7A7A7;
            border-radius: 20px;
            @include max-breakpoint(425) {
                padding: 10px;
            }
            .comment-item-top {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                img {
                    display: block;
                    width: 100%;
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                    margin-right: 25px;
                    @include max-breakpoint(425) {
                        height: 70px;
                        width: 70px;
                        margin-right: 15px;
                    }
                }
                div {
                    h4 {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 10px;
                        @include max-breakpoint(425) {
                            font-size: 15px;
                        }
                    }
                    h5 {
                        @include max-breakpoint(425) {
                            font-size: 13px;
                        }
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }
            .comment-item-bottom {
                p {
                    font-family: Livvic;
                    font-size: 15px;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: left;
                    -webkit-line-clamp: 5;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include max-breakpoint(425) {
                        font-size: 12px;
                    }
                }
            }
        }
        .owl-nav {
            // @include max-breakpoint(1199) { 
            //     dis
            //  }
            &:hover {
                background: unset;
            }
            button {
                &:hover {
                    background: unset;
                }
                top: 50%;
                transform: translateY(-50%);
                i {
                    font-size: 30px;
                    transform: unset;
                }
            }
            .owl-prev {
                left: -40px;
            }
            .owl-next {
                right: -40px;
            }
        }
    }
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    margin-left: -20px;
    display: block !important;
    border: 0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: -25px;
    display: block !important;
    border: 0px solid black;
}

.owl-prev i,
.owl-next i {
    transform: scale(1, 6);
    color: #ccc;
}