@import './banner.scss';
@import './hot-new.scss';
@import './select-class.scss';
@import './category.scss';
@import './about.scss';
@import './comment.scss';
@import './responsive.scss';

.title-category {
    font-family: Livvic;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.home-left {
    border-right: 0.5px solid #A7A7A7;
}