.footer-category {
    background: #F3FAF3;
    .title-footer {
        font-family: Livvic;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .subjects {
        padding: 0 10px;
        .subjects-item {
            margin-bottom: 40px;
            .title-subject {
                display: flex;
                align-items: flex-end;
                position: relative;
                margin-bottom: 50px;
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background: #E29000;
                    border-radius: 2.5px;
                    width: 193px;
                }
                img {
                    display: block;
                    margin-right: 20px;
                }
                h4 {
                    color: #E29000;
                    font-size: 30px;
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }
            ul.list-book {
                li {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        display: block;
                        margin-right: 5px;
                    }
                    h5 {
                        cursor: pointer;
                        font-size: 23px;
                        color: #000;
                        font-weight: 500;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}