.header__class {
    .menu {
        .header__logo {
            width: 241px;
            height: 44px;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}