.header {
    .header__logo-full {
        display: none;
        @include max-breakpoint(575) {
            display: block;
        }
        img {
            width: 75%;
        }
    }
}

.header__class {
    .menu {
        .header__logo {
            width: 241px;
            height: 44px;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}