.library-post
    .row
        .col-8
            .bread-crum
                a(href="#") Thư viện
                img(src="./images/icons/next-black.svg", alt="")
                a(href="#") Xã hội
                img(src="./images/icons/next-black.svg", alt="")
                a(href="#") Cha mẹ nên dạy con kiến thức ...
            .post-content
                p.content-title Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                img(src="./images/library/post-content.png", alt="")
                p Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.
                p Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được. Nếu chúng ta chấp nhận vai trò của giáo dục là cung cấp cho con cái những hiểu biết và giá trị về một cuộc sống tốt đẹp, thì làm thế nào để chúng ta củng cố cho một tương lai không thể đoán định được? Liệu chúng ta có còn cần kiến thức trong thế giới của Alexa và Siri? Kiến thức và kỹ năng, đâu mới là điều quan trọng?
                p Cuộc cách mạng công nghiệp đã chứng kiến sự thay đổi lớn lao của thế giới và con người. Thế giới sẽ còn thay đổi, và chúng ta cần chuẩn bị cho con theo một cách hoàn toàn khác. Một đứa trẻ 5 tuổi sẽ bước vào cuộc sống và làm việc vào năm 2030. Do đó, chúng ta cần một trí tưởng tượng mới về nền tảng của giáo dục.
                p Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Trẻ em học giải mãi code có còn cần thiết khi các phần mềm có thể viết ra phần mềm? Việc học ở trường có giúp ích cho khả năng thích nghi và xây dựng mối quan hệ? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.
                ul.social
                    li.social-item
                        a(href="#") 333
                        img(src="./images/icons/eye.svg", alt="")
                    li.social-item
                        a(href="#") 33
                        img(src="./images/icons/like.svg", alt="")
                    li.social-item
                        a(href="#") Chia sẻ
                        img(src="./images/icons/share.svg", alt="")
            .goi-y
                p.goiy-title Luật giáo viên
                ul.list-goiy
                    li.goiy-item
                        img(src="./images/library/goiy.png", alt="")
                        a(href="#") 6 điều cần biết về thi giáo viên dạy giỏi
                    li.goiy-item
                        img(src="./images/library/goiy.png", alt="")
                        a(href="#") 6 điều cần biết về thi giáo viên dạy giỏi
                    li.goiy-item
                        img(src="./images/library/goiy.png", alt="")
                        a(href="#") 6 điều cần biết về thi giáo viên dạy giỏi
                    li.goiy-item
                        img(src="./images/library/goiy.png", alt="")
                        a(href="#") 6 điều cần biết về thi giáo viên dạy giỏi
            .others
                p.other-title   Tham khảo các chuyên mục hay khác
                ul.list-other
                    li.other-item
                        a(href="#") Khoa học tự nhiên
                    li.other-item
                        a(href="#") Âm nhạc
                    li.other-item
                        a(href="#") Khoa học tự nhiên
                    li.other-item
                        a(href="#") Thế giới quanh ta
        .col-3
            include ./new-post.pug
            