#v-pills-tabContent.tab-content
  #v-pills-library.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-library-tab')
    include ./libraryhome.pug
  #v-pills-xahoi.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-xahoi-tab')
    include ./library-category.pug
  #v-pills-khoahoc.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-khoahoc-tab')
    include ./library-category.pug
  #v-pills-cauhoi.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-cauhoi-tab')
    include ./library-category.pug
