.library-category
    .row
        .col-8
            .bread-crum
                a(href="#") Thư viện
                img(src="../../images/icons/next-black.svg", alt="")
                a(href="#") Xã hội
            ul.list-post-ctg
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...
                li.item-post-ctg
                    img(src="../../images/library/post-ctg.png", alt="")
                    .content-post-ctg
                        a(href="../../library-post-detail.html").title-ctg Cha mẹ nên dạy con kiến thức hay kỹ năng mềm để theo kịp với sự thay đổi chóng mặt của thời công nghệ số?
                        p.des-ctg Nhiều bậc cha mẹ cho rằng, học ngoại ngữ là cần thiết, nhưng điều đó có còn cần thiết trong thế giới của Google dịch? Thế giới thay đổi đáng kinh ngạc so với sự thay đổi ít ỏi của nền giáo dục. Rõ ràng, chúng ta cần có một tầm nhìn mới trong thời đại công nghệ số này.Thế giới ngày nay biến động không ngừng, thế giới cũng càng ngày càng không dự đoán trước được...

            nav(aria-label='Page navigation library post')
                ul.pagination
                    li.page-item
                        a.page-link(href='#' aria-label='Previous' class="pre")
                            span(aria-hidden='true')
                                img(src="../../images/icons/pre.svg", alt="")
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#' aria-label='Next' class="next")
                            span(aria-hidden='true')
                                img(src="../../images/icons/next.svg", alt="")
                            span.sr-only Next

        .col-3
            include ./new-post.pug