.row.library-home
    .col-7
        iframe(width='100%' height='500px' src='https://www.youtube.com/embed/6t-MjBazs3o' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        p.title-post Bài viết nhiều lượt xem nhất
        ul.list-post
            .row
                .col-4  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post3.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao trước khi thi đấu các vận động viên thể thao cần ...
            .row.mt-5
                .col-4  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post3.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao trước khi thi đấu các vận động viên thể thao cần ...
            .row.mt-5
                .col-4  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post3.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao trước khi thi đấu các vận động viên thể thao cần ...
            .row.mt-5
                .col-4  
                    li.item-post
                        .card
                            img.card-img-top(src='./images/home/hot-news.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao nước lại không cháy?
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post2.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Những rào cản ngăn thế hệ trẻ Việt Nam học tập
                .col-4   
                    li.item-post
                        .card
                            img.card-img-top(src='./images/library/post3.png' alt='Card image cap')
                            .card-body
                                a(href="").card-text
                                | Vì sao trước khi thi đấu các vận động viên thể thao cần ...
    .col-3
        include ./new-post.pug
    .col-2
        img(src="./images/components/adv.png", alt="")
