.new-post
    .new-post-title
        p Bài viết mới nhất
    ul.list-newpost
        li.item-post
            img(src="../../images/library/newpost.png", alt="post")
            a(href="#") Nhiều học sinh cấp 2 ở Hà Nội đã khẳng định Bà Trưng và Bà Triệu là hai chị em, thậm chí hai Bà chỉ là một người.
        li.item-post
            img(src="../../images/library/newpost.png", alt="post")
            a(href="#") Nhiều học sinh cấp 2 ở Hà Nội đã khẳng định Bà Trưng và Bà Triệu là hai chị em, thậm chí hai Bà chỉ là một người.
        li.item-post
            img(src="../../images/library/newpost.png", alt="post")
            a(href="#") Nhiều học sinh cấp 2 ở Hà Nội đã khẳng định Bà Trưng và Bà Triệu là hai chị em, thậm chí hai Bà chỉ là một người.
        li.item-post
            img(src="../../images/library/newpost.png", alt="post")
            a(href="#") Nhiều học sinh cấp 2 ở Hà Nội đã khẳng định Bà Trưng và Bà Triệu là hai chị em, thậm chí hai Bà chỉ là một người.
        li.item-post
            img(src="../../images/library/newpost.png", alt="post")
            a(href="#") Nhiều học sinh cấp 2 ở Hà Nội đã khẳng định Bà Trưng và Bà Triệu là hai chị em, thậm chí hai Bà chỉ là một người.
        li.item-post
            img(src="../../images/library/newpost.png", alt="post")
            a(href="#") Nhiều học sinh cấp 2 ở Hà Nội đã khẳng định Bà Trưng và Bà Triệu là hai chị em, thậm chí hai Bà chỉ là một người.