#v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical').nav-library
  a#v-pills-library-tab.nav-link.head(data-toggle='pill' href='#v-pills-library' role='tab' aria-controls='v-pills-home' aria-selected='true') 
    p Thư viện
  a#v-pills-xahoi-tab.nav-link(data-toggle='pill' href='#v-pills-xahoi' role='tab' aria-controls='v-pills-profile' aria-selected='false') 
    img(src="../../images/icons/xahoi.svg", alt="")
    p Xã hội
  a#v-pills-khoahoc-tab.nav-link(data-toggle='pill' href='#v-pills-khoahoc' role='tab' aria-controls='v-pills-messages' aria-selected='false') 
    img(src="../../images/icons/khoahoc.svg", alt="")
    p Khoa học tự nhiên
  a#v-pills-cauhoi-tab.nav-link(data-toggle='pill' href='#v-pills-cauhoi' role='tab' aria-controls='v-pills-settings' aria-selected='false') 
    img(src="../../images/icons/cauhoi.svg", alt="")
    p Câu hỏi
  a#v-pills-xahoi-tab.nav-link(data-toggle='pill' href='#v-pills-xahoi' role='tab' aria-controls='v-pills-profile' aria-selected='false') 
    img(src="../../images/icons/xahoi.svg", alt="")
    p Xã hội
  a#v-pills-khoahoc-tab.nav-link(data-toggle='pill' href='#v-pills-khoahoc' role='tab' aria-controls='v-pills-messages' aria-selected='false') 
    img(src="../../images/icons/khoahoc.svg", alt="")
    p Khoa học tự nhiên
  a#v-pills-cauhoi-tab.nav-link(data-toggle='pill' href='#v-pills-cauhoi' role='tab' aria-controls='v-pills-settings' aria-selected='false') 
    img(src="../../images/icons/cauhoi.svg", alt="")
    p Câu hỏi
  a#v-pills-xahoi-tab.nav-link(data-toggle='pill' href='#v-pills-xahoi' role='tab' aria-controls='v-pills-profile' aria-selected='false') 
    img(src="../../images/icons/xahoi.svg", alt="")
    p Xã hội
  a#v-pills-khoahoc-tab.nav-link(data-toggle='pill' href='#v-pills-khoahoc' role='tab' aria-controls='v-pills-messages' aria-selected='false') 
    img(src="../../images/icons/khoahoc.svg", alt="")
    p Khoa học tự nhiên
  a#v-pills-cauhoi-tab.nav-link(data-toggle='pill' href='#v-pills-cauhoi' role='tab' aria-controls='v-pills-settings' aria-selected='false') 
    img(src="../../images/icons/cauhoi.svg", alt="")
    p Câu hỏi