.menu__second
    .container
        .second__content
            .row
                .col-5
                    ul.chuyenmuc
                        li Giải bài tập sách giáo khoa
                        li Giải sách bài tập, vở bài tập
                        li Đề kiểm tra, đề thi
                        li Lý thuyết
                        li Chuyên đề
                        li Bài giảng
                        li Giáo án
                .col-7.chuyenmuc__con
                    ul
                        li abc
                        li abc
                        li abc
                        li abc