//- MODAL TRẢ LỜI CÂU HỎI


#answer-question.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document').modal-lg.modal_create
    .modal-content
      .modal-body
        .heading Đáp án
        .modal-a-content
            .enter-a
                textarea( placeholder="Nhập đáp án")
            .icons
                a(href="")
                    img(src="../images/icons/pi.svg", alt="")
                a(href="")
                    img(src="../images/icons/om.svg", alt="")
                a(href="")
                    img(src="../images/icons/ghim.svg", alt="")
            .send
                button Gửi