.library-home {
    border-right: 1px solid #E5E5E5;
    min-height: 120vh;
    height: 100%;
    iframe {
        width: 100%;
        height: 500px;
        @include max-breakpoint(575) {
            width: 95%;
            height: 230px;
            margin-left: 10px;
        }
    }
    .title-post {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        padding: 50px 0px;
    }
    .list-post {
        margin-bottom: 100px;
        .item-post {
            margin-bottom: 20px;
            .card {
                width: 250px;
                background: #FFFFFF;
                border: 0.5px solid #C5C5C5;
                box-sizing: border-box;
                border-radius: 20px;
                @include max-breakpoint(575) {
                    width: 95%;
                    margin-left: 10px;
                }
                img {
                    width: 100%;
                }
            }
            .card-body {
                background: #0094AE;
                border-radius: 0px 0px 20px 20px;
                height: 73px;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFFFFF !important;
                cursor: pointer;
            }
            .back-orange {
                background: #E29000 !important;
            }
            .back-green {
                background: #1DBB90 !important;
            }
        }
    }
}