#v-pills-tabContent.tab-content.bl
  #v-pills-noti.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-noti-tab')
    include ./noti.pug
  #v-pills-person.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-person-tab')
    include ./person-infor.pug
  #v-pills-question.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-question-tab')
    include ./question.pug