.noti
  .noti-heading
    p Thông báo của bạn
  ul.noti-list
    li.noti-item.active
      .row
        .col-2.col-md-1.order-1.center
          img(src="./images/icons/ring.svg" alt="")
        .col-md-8.order-3.order-md-2
          a(href="#").noti-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda laboriosam recusandae asperiores eligendi quos sequi animi veritatis debitis unde illo nihil quod, distinctio dignissimos optio non quasi ea et.
        .col-10.col-md-3.order-2.order-md-3
          p.noti-date 10:33, 31/07/2020
    li.noti-item
      .row
        .col-2.col-md-1.order-1.center
          img(src="./images/icons/ring.svg" alt="")
        .col-md-8.order-3.order-md-2
          a(href="#").noti-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda laboriosam recusandae asperiores eligendi quos sequi animi veritatis debitis unde illo nihil quod, distinctio dignissimos optio non quasi ea et.
        .col-10.col-md-3.order-2.order-md-3
          p.noti-date 10:33, 31/07/2020
    li.noti-item.active
      .row
        .col-2.col-md-1.order-1.center
          img(src="./images/icons/ring.svg" alt="")
        .col-md-8.order-3.order-md-2
          a(href="#").noti-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda laboriosam recusandae asperiores eligendi quos sequi animi veritatis debitis unde illo nihil quod, distinctio dignissimos optio non quasi ea et.
        .col-10.col-md-3.order-2.order-md-3
          p.noti-date 10:33, 31/07/2020
    li.noti-item
      .row
        .col-2.col-md-1.order-1.center
          img(src="./images/icons/ring.svg" alt="")
        .col-md-8.order-3.order-md-2
          a(href="#").noti-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero assumenda laboriosam recusandae asperiores eligendi quos sequi animi veritatis debitis unde illo nihil quod, distinctio dignissimos optio non quasi ea et.
        .col-10.col-md-3.order-2.order-md-3
          p.noti-date 10:33, 31/07/2020