.person-infor
  .person-heading.d-flex.justify-content-between
    p Thông tin cá nhân
    .infor-edit
      a(href="#").d-flex.align-items-center 
        span Chỉnh sửa
        img(src="./images/icons/pen.svg" alt="")
  ul.list-infor
    li.infor-item
      p Họ và tên
      p Nguyễn hà Linh
    li.infor-item
      p Email
      p halinh@gmail.com
    li.infor-item
      p Mật khẩu
      p *******
    li.infor-item
      p SĐT
      p 1234567890
    li.infor-item
      p Lớp
      p 12