.user-question
    .question-heading
        p Câu hỏi của bạn
    .question-content
        .cauhoi
            .stt
                span Câu 1
                p Môn Sinh Học - Lớp 12
            .debai
                p Câu 22. Cho cây hoa do (P) tự thụ phấn, đời FT có ti lệ kiểu hình: 56,25% hoa đó: 18,75% hoa hồng: 18,75% hoa vàng : 6,25% hoa trắng. Nếu cho tất cả các cây hoa vàng ở F1 lai phân tích, loại kiểu hình hoa vàng ở đời con chiếm tỉ  lệ
                p A. 1/3
                p В. 1/4
                p С. 1/2
                p D. 2/3
                p Ai giúp mình câu 22 với ạ
        .traloi
            .title Trả lời
            .infor-answer
                img(src="../../images/question/avatar.png", alt="")
                span Hoàng Hà
            .answer-detail
                p Bạn có thể tham khảo bài sau:
                img(src="../../images/infor/answer.png", alt="")
            .rate
                p Hãy giúp mọi người biết câu trả lời này thế nào?
                
