.side-bar-head
  .profile-avatar
    img(src="../../images/infor/avatar.png", alt="")
    img.add-photo(src="../../images/infor/camera.svg", alt="")
  p Điểm số : 
    span 666
#v-pills-tab.nav.flex-column.nav-pills(role='tablist' aria-orientation='vertical')
  a#v-pills-noti-tab.nav-link.active(data-toggle='pill' href='#v-pills-noti' role='tab' aria-controls='v-pills-home' aria-selected='true')
    img(src="../../images/icons/ring.svg", alt="")
    span Xem thông báo
  a#v-pills-person-tab.nav-link(data-toggle='pill' href='#v-pills-person' role='tab' aria-controls='v-pills-profile' aria-selected='false') 
    img(src="../../images/icons/profile.svg", alt="")
    span Thông tin cá nhân
  a#v-pills-question-tab.nav-link(data-toggle='pill' href='#v-pills-question' role='tab' aria-controls='v-pills-messages' aria-selected='false') 
    img(src="../../images/icons/note.svg", alt="")
    span Câu hỏi
  a.nav-link(href="../index.html") 
    img(src="../../images/icons/logout.svg", alt="")
    button Đăng xuất
