extends master.pug
block header
   include ./layouts/header.pug
block content
    .category-page.back__grey
        .container-fluid.w-90.back__grey
            include components/advertise-mobile.pug
            .row
                .col-12.col-lg-2.d-lg-block.d-none.p-0.bg-white
                    include ./pages/category/category-sidebar.pug
                .col-12.col-lg-7.bg-white.border-category
                    .category-centter
                        
                        #v-pills-tabContent.tab-content
                            #v-pills-all.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab')
                                include ./pages/category/category-main-content.pug
                            #v-pills-toan.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab')
                                include ./pages/category/category-submenu.pug
                            #v-pills-ly.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab')
                                include ./pages/category/category-submenu2.pug
                            #v-pills-hoa.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab')
                                include ./pages/question/question-content.pug
                .col-0.col-lg-3.d-none.d-lg-block.pl-0.bg-white
                    include ./pages/category/category-right.pug
block footer
    .footer-pc.d-none.d-lg-block
      include ./layouts/footer-category.pug
    .footer-mb.d-block.d-lg-none
      include ./layouts/footer.pug
