extends master.pug
block header
   include ./layouts/header.pug
block content
   .back__grey.mainbody.p-xl-20.page-home
      .container-fluid.w-95
         include components/advertise-mobile.pug
         .row
            .col-xl-10.col-12.pr-xl-0.home-left
               include pages/home/banner.pug
               include pages/home/hot-news.pug
               include pages/home/select-class.pug
               include pages/home/category.pug
               include pages/home/about.pug
               include pages/home/comment.pug
            .col-xl-2.col-12.d-xl-block.d-none.pd-0
               include components/advertise.pug
block footer
   include ./layouts/footer.pug

