extends master.pug
block header
   include ./layouts/header-login.pug
block content
    .container-fluid.w-90.d-flex.justify-content-center
        .row
            .col-3
                p fksjnosf
            .col-6
                p kjsfnvksd
            .col-3
                p ksmncjsd
block footer
      include ./layouts/footer.pug