extends master.pug
block header
   include ./layouts/header-full.pug
block content
    .back__grey.mainbody.p-20
      .container-fluid.back-white.w-95.p-0
        .row
            .col-md-2.col-sm-0.br
                include ./pages/question/sidebar.pug
            .col-md-7.col-sm-12.br
                #v-pills-tabContent.tab-content
                    #v-pills-all.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-home-tab')
                        include ./pages/question/question-content.pug
                    #v-pills-toan.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-profile-tab')
                        include ./pages/question/question-content.pug
                    #v-pills-ly.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab')
                        include ./pages/question/question-content.pug
                    #v-pills-hoa.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-settings-tab')
                        include ./pages/question/question-content.pug
            .col-md-3.col-sm-12
                include ./pages/question/top-user.pug
block footer
      include ./layouts/footer.pug