@import './../../common/common.scss';

.class-page {
    padding-top: 20px;
    .subjects {
        padding: 0 10px;
        background: #fff;
        padding-top: 70px;
        .title-mobile{
            @include max-breakpoint(575) { 
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            margin-bottom:40px;
            }
        }
        .subjects-item {
            margin-bottom: 40px;
            .title-subject {
                display: flex;
                align-items: flex-end;
                position: relative;
                margin-bottom: 50px;
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background: #E29000;
                    border-radius: 2.5px;
                    width: 193px;
                    @include max-breakpoint(425) { 
                        height:0.5px;
                        width:100%;
                        }
                }
                img {
                    display: block;
                    margin-right: 20px;
                    @include max-breakpoint(425) { 
                        weight:14px;
                        height:10px;;
                        
                        }
                }
                h4 {
                    color: #E29000;
                    font-size: 30px;
                    text-transform: capitalize;
                    font-weight: 500;
                    @include max-breakpoint(425) { 
                        font-size: 16px;
                        
                        }
                }
            }
            ul.list-book {
                li {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        display: block;
                        margin-right: 5px;
                    }
                    h5 {
                        cursor: pointer;
                        font-size: 23px;
                        color: #000;
                        font-weight: 500;
                        &::first-letter {
                            text-transform: uppercase;
                        }
                         @include max-breakpoint(425) { 
                            font-size: 15px;
                            line-height: 19px;

                        }
                    }
                }
            }
        }
    }
}