.noti {
	min-height: 120vh;
	.noti-heading {
		font-weight: normal;
		font-size: 30px;
		line-height: 38px;
		/* identical to box height */
		color: #32312f;
		padding: 50px 20px;

		@include max-breakpoint(576) {
			padding: 20px 10px;
			font-size: 20px;
			font-weight: 500;
		}
	}
	.noti-list {
		.noti-item {
			padding: 20px 0 20px 20px;

			@include max-breakpoint(576) {
				padding: 10px 0 10px 10px;
			}

			.center {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 !important;
			}
			.noti-content {
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 30px;
				/* or 200% */
				display: flex;
				align-items: center;
				color: #0c0b0b;

				@include max-breakpoint(576) {
					margin-top: 10px;
				}
			}
			.noti-date {
				font-family: Arial;
				font-style: italic;
				font-weight: normal;
				font-size: 18px;
				line-height: 30px;
				/* or 167% */
				display: flex;
				align-items: center;
				color: #0c0b0b;
			}
		}
		.active {
			background: #e7e7e7 !important;
		}
	}
}
