footer.footer-category 
    .container-fluid.w-90
        .footer-category-content
            h4.title-footer Các môn học khác lớp 8
            .subjects
                    .row
                        .col-3.subjects-item
                            .title-subject
                                img(src='./../../images/icons/icon-book.svg' alt='')
                                h4 ngữ văn 
                            ul.list-book
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 tiếng việt 1
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Tiếng việt lớp 2
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Văn mẫu lớp 3
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Tiếng việt 1
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Tiếng việt 1
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Tập làm văn lớp 3
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Đề thi Kiểm tra Tiếng việt
                        .col-3.subjects-item
                            .title-subject
                                img(src='./../../images/icons/icon-book.svg' alt='')
                                h4 Toán học
                            ul.list-book
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Toán lớp 1
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Toán lớp 2
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Toán lớp 3
                        .col-3.subjects-item
                            .title-subject
                                img(src='./../../images/icons/icon-book.svg' alt='')
                                h4 Đạo đức
                            ul.list-book
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 tiếng việt 1
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Tiếng việt lớp 2
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Văn mẫu lớp 3
                        .col-3.subjects-item
                            .title-subject
                                img(src='./../../images/icons/icon-book.svg' alt='')
                                h4 Tin học
                            ul.list-book
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Tin học lớp 3
                        .col-3.subjects-item
                            .title-subject
                                img(src='./../../images/icons/icon-book.svg' alt='')
                                h4 Tự nhiên -xã hội
                            ul.list-book
                                li.item-book
                                    img(src='./../../images/icons/icon-arrow.svg' alt='')
                                    h5 Giải bài tập tự nhiên - xã hội lớp 3

