.header
    .container.d-flex.justify-content-between.align-items-center
        .header__logo
            a(href="../index.html")
                img(src="../images/home/header-logo.svg", alt="logo")
        .header__search.d-flex.align-items-center
            .search__input
                input(type="text")
                .icon_search
                    button
                        img(src="../images/icons/search.svg", alt="")
            .login.d-flex.align-items-center
                button(data-toggle="modal" data-target="#dangnhap") Đăng nhập
                button(data-toggle="modal" data-target="#dangki") Đăng kí
.header__class
    .container-fluid.back__white.w-90
    .container
        .menu.d-flex
            a(href="../class.html")
                .each__class Lớp 1 - 2 - 3
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 4
                include ../components/menu-second.pug
            a(href="../class.html")
               include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 6
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 7
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 8
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 9
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 10
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 11
                include ../components/menu-second.pug
            a(href="../class.html")
                .each__class Lớp 12
                include ../components/menu-second.pug
            a(href="../question.html")
                .header__question Hỏi đáp
            a(href="../library.html")
                .header__library Thư viện

//- Modal đăng nhập
include ../components/modal_dangnhap.pug

